.snakemake/
config/pep/*.csv
config/*config*
config/pep/config.yaml
!config/.config.yaml
.vscode/
workflow/profiles/default/config.yaml
dag.pdf
# pixi environments
.pixi/*
!.pixi/config.toml
logs/
pbs/
*.out
results/
data/
